@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Tenali+Ramakrishna&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
}
body{
    font-family: 'Libre Baskerville', serif;
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgb(187, 93, 238) 0%, rgba(255, 127, 127, 0) 100%);
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.col-4{
    width: 33.333%;
    padding: 0 15px;
}
.orange{
    color: orangered;
}
.box{
    background-color: rgba(255, 0, 0, 0.42);
    padding: 10px 15px;
    margin: 10px;
}
.title{
    margin: 10px 0;
}
.title__price{
    margin: 8px 0;
}
.info{
    margin: 10px 0 ;
}